@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #FFF;
  --ar: #f7f7f7;
}

::selection {
  background: #00FF00;
  color: #000000;
}

* {
  border-color: var(--ar) !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #FFF;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #FFF;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: cyanFontFour;
}

.app-title {
  font-size: 1rem !important;
  font-weight: normal !important;
}
/* List styling */
ol, ul, menu {
  list-style: auto;
  margin-left: 2rem;
  padding: 0rem;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  background: transparent;
  background: #222222 !important;
  /* color: var(--ar) !important; */
}
