@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force dark mode at the highest level */
html {
  color-scheme: dark !important;
}

body {
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background: #0a0a0a;
  --foreground: #FFFF00;
  --pollen: #FFFF00;
  --goldPollen: gold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* * {
  color: var(--pollen);
  border-color: var(--goldPollen);
} */

.text-pollen {
  color: var(--pollen);
}

.border-pollen {
  border-color: var(--goldPollen);
  border-style: groove;
}

::selection {
  background: #00FF00 !important;
  color: #000000 !important;
}

* {
  border-color: var(--pollen);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: cyanFontFour;
}

.app-title {
  font-size: 1rem;
  font-weight: normal;
}

ol, ul, menu {
  list-style: auto;
  margin-left: 2rem;
  padding: 0rem;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  background: #222222;
}

@media (max-width: 639px) {
  input, textarea, select, [contenteditable="true"] {
    font-size: 16px !important;
  }
}
